.buttonDiv{
    width: 100;
    box-sizing: border-box;
    border: 2px solid #435C70;
}
.buttonDiv:focus{
    border: 2px solid blue;
}
.button{    
    width: 100%;
    border: 1px solid #F5A623;
    background-color: #F5A623;
}
.button:hover{
    background-color: #435C70;
}
