.footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #567086;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: rgba(69, 92, 113, 0.59) 0px -3px 5px 0px;
    text-align: center;
}
.copyright{
    color: #fff;
    font-size: 14px;
}